// Colors
$color-primary: #1b2432;
$color-primary-dark: #121420;
$color-secondary: #2c2b3c;
$color-tertiary: #754643;
$color-primary-grey: #403f4c;
$color-raiting: #0492ac;

$color-black: #000000;
$color-white: #ffffff;
$color-grey: #c4c4c4;
$color-gold: #ffd063;

// class colors
$warrior: #c69b6d;
$paladin: #f48cba;
$hunter: #aad372;
$rogue: #fff468;
$preist: #f0ebe0;
$death-knight: #c41e3b;
$shaman: #2359ff;
$mage: #68ccef;
$warlock: #9382c9;
$monk: #00ffba;
$druid: #ff7c0a;
$demon-hunter: #a330c9;
// Size
$smaller: "31.25em"; //500px
$small: "37.5em"; //600px
$medium: "56.25em"; //900px
$large: "80em"; //1300px
$larger: "90em"; //1300px
$largest: "97em"; //1500px
